@import url('https://fonts.googleapis.com/css?family=Questrial');

:global() {
  body {
      font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
      background-color: #1D1C21;
      color: #d3d3d3;
  }

  hr {
      max-width: 80px;
      border-width: 3px;
      opacity: 0.09;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  hr.light {
      border-color: #fff;
  }

  a {
      color: #9c27b0;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
  }

  a:hover,
  a:focus {
      color: #9c27c1;
      outline: 0;
  }

  button {
    font-size: 1em;
    padding: 1rem;
    line-height: 1.4rem;
    border: none;
    border-radius: 6px;
  }
}
